<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=77.37.208.175;initial catalog=Fabula;persist security info=True;user id=JohnLock;password=55335533;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>